@font-face {
    font-family: "Canvas Sans";
    src: url("../Fonts/CanvasSans.woff2");
  }
  @font-face {
    font-family: "DM Sans";
    src: url("../Fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
  }
  @font-face{
    font-family: 'AmsterdamThree';
    src:url('../amsterdam-3/Amsterdam.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0%;
    margin: 0%;
}
/*nav*/
 #account_img {
    background: none;
    width: 15%;
} 
#nav {
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Spreads items evenly */
    padding: 10px;
    margin: 2% auto;
    width: 70%; 
} 
#nav-container {
    display: flex; /* Align child divs horizontally */
}

#nav-container > #nav-main {
    background-color: rgb(192, 191, 191);
    justify-content: center;
    align-items: center; /* Vertically center both divs */ 
    padding: 10px;
    border-radius: 15px;
    width: 100%; /* Make sure it spans full width */
    margin-right: 22%;
    max-width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

#nav-home {
    display: flex; /* Align all items on the same line */
}

#nav-main a {
    width: auto;
    text-decoration: none;
    text-align: center;
    font-family: "Canvas Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #1b613e;
    padding: 2% 20px; /* Add padding for clickable area */
    border-radius: 5px;
}
#nav-main a:hover {
    color: white;
}
#nav-extra {
    display: flex; /* Align the book link and image horizontally */
    align-items: end;
    justify-content: right;
}

/* Special styling for the Book link */
.Nav-Split {
    background-color: darkgrey; /* Different background color for the Book link */
    color: white;
    float: inline-end;
    padding: 10px 25px;
    border-radius: 20px; 
    font-size: 18px; 
    margin-right: 10%; /* Add space between the link and the image */
    font-family: "Canvas Sans", sans-serif;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

/* Homepage */

#homeImage {
    background-image: url("../Images/homepage.jpg");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: 'AmsterdamThree';
    font-size: 80px;
    color: #57453d;
    position: absolute;
    top: 10%;
    left: 5%;
}
h2{
    font-family: 'AmsterdamThree';
    font-size: 50px;
    color: #57453d;
    position: absolute;
}

#nav li {
    display: inline;
    margin: 2%;
}
#nav li a {
    text-decoration: none;
}
.background_color{
    background-color: #efede9;
}

/* About Us*/
.divGreen{
    background-color: #d2d8ce;
    height: 30vh;
    width: 80%;
    margin: 8% 10% 0 10%;
}
.divGreen-p{
   height: 100%;
   width: 100%;
}


#image-container{
    display: flex;
    justify-content: space-between ;
    width: 80%;
    margin: 0 10%;
}
#image-container img{
    width: 50%;
    object-fit: cover;
}
.sched-container{
    background-color: #d5babc;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}
.sched-container div{
    background-color:#7a7168 ;
    height: 40vh;
    width: 30%;
    margin: 8% 10% 0 10%;
    border-radius: 5%;
}

/*Gallery*/
#gallery-h1{
    text-align: center;
}
#accent-div{
    background-color: #f5e1c6;
    height:15vh ;
    margin: 10% 10% 0 10%;
}
#instagram-pic{
    background-color:#fc9a90;
    height: 40vh;
    margin: 1% 10% 0 10%;
}

/*reviews*/
#reviews-container{/* CSS for the main container in Reviews section*/
    background-color:#e0ddd3;
    height: 60vh;
    padding-top: 10%;
    font-family:"Canvas Sans" ;
}
.h2-reviews{
    top: 85%;
    left: 5%;
}
/*Contact us*/
#contact_h1 {
    text-align: center;
    position: unset;
}
#contact_main {
    background-color: #e0ddd3;
}
/*header of contact page */
#contact_h1_div {
   margin-left: auto;
   margin-right: auto;
    width: 70%;
    background-color: #efede9;
    border-radius: 15px;
}
/*div that holds the form */
#contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efede9;
    width: 70%;
    margin-top: 5%;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Style each form group to have label and input on the same line */
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    width: 100px; /* Adjust width as necessary to align labels */
    text-align: right;
    font-family: "DM Sans", 'Regular';
    font-weight: bold;
}

input[type="text"], textarea {
    width: 300px; /* Adjust the width of the input fields */
    padding: 5px;
    border-radius: 15px;
    border-style: none;
    background-color: #e0ddd3;
}
textarea {
    resize: none;
}

/* Style the submit button */
input[type="submit"] {
    font-family: "Canvas Sans", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    border-style: none;
    align-self: center;
    background-color: #d2d8ce;
    width: 25%;
}
form {
    display: contents;
}
#contact_footer {
    margin-top: 4%;
    text-align: center;
    background-color: #e0ddd3;
    font-family: "Canvas Sans", sans-serif;
    height: 10vh;

}
/*Review*/
.review-div{/* CSS for the div inside #reviews-container*/
    display: flex;
    margin: 0 10%;
    padding: 2%;

}
.review-div-icon{/* CSS for the div inside .review-div*/
    margin-top: 30px;
    flex: 1;
    padding-right: 20px;
    background-color:#e0ddd3;
}
.review-div-content{/* CSS for the div inside .review-div*/
    background-color: #f5e1c6;
    padding: 30px;
    border-radius: 40px;
    display: flex;
}
.review-div-content-text{
    flex: 5;
}
.review-div-content-account-name{
    padding-bottom: 10px;
}

.review-div-content-pic {
    flex: 1;
    text-align: center;
}
.review-div-content-pic img{
    height: 100px;
    object-fit: cover;
}
.review-div-content-account-review{/* CSS for the div inside .review-div-content*/
    flex: 2;
    padding-top: 10px;
}
