@font-face {
    font-family: "Canvas Sans";
    src: url("../Fonts/CanvasSans.woff2");
  }
  @font-face {
    font-family: "DM Sans";
    src: url("../Fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
  }
  @font-face{
    font-family: 'AmsterdamThree';
    src:url('../amsterdam-3/Amsterdam.ttf');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'AmsterdamThree';
    font-size: 80px;
    color: #57453d;
    position: absolute;
    top: 15%;
    left: 5%;
}
h2{
    font-family: 'AmsterdamThree';
    font-size: 50px;
    color: #57453d;
    position: absolute;
}
main {
    margin-top: 16vh; /*Offets navbar height so page starts right after navbar */
}
* {
    padding: 0%;
    margin: 0%;
}
/*nav*/
header {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.5); /*Add transparency to navbar */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 100%;
    height: 16vh;
    z-index: 3;
    
}
 #account_img {
    background: none;
    width: 15%;
} 
#nav {
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Spreads items evenly */
    padding: 10px;
    margin: 2% auto;
    width: 70%; 
} 
#nav-container {
    display: flex; /* Align child divs horizontally */
}

#nav-container > #nav-main {
    background-color: rgb(192, 191, 191);
    justify-content: center;
    align-items: center; /* Vertically center both divs */ 
    padding: 10px;
    border-radius: 15px;
    width: 100%; /* Make sure it spans full width */
    margin-right: 22%;
    max-width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

#nav-home {
    display: flex; /* Align all items on the same line */
}

#nav-main a {
    width: auto;
    text-decoration: none;
    text-align: center;
    font-family: "Canvas Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #1b613e;
    padding: 2% 20px; /* Add padding for clickable area */
    border-radius: 5px;
}
#nav-main a:hover {
    color: white;
}
#nav-extra {
    display: flex; /* Align the book link and image horizontally */
    align-items: end;
    justify-content: right;
}

/* Special styling for the Book link */
.Nav-Split {
    background-color: darkgrey; /* Different background color for the Book link */
    color: white;
    float: inline-end;
    padding: 10px 25px;
    border-radius: 20px; 
    font-size: 18px; 
    margin-right: 10%; /* Add space between the link and the image */
    font-family: "Canvas Sans", sans-serif;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

/* Homepage */

#homeImage {
    background-image: url("../Images/homepage.jpg");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: 'AmsterdamThree';
    font-size: 80px;
    color: #57453d;
    position: absolute;
    top: 10%;
    left: 5%;
}
h2{
    font-family: 'AmsterdamThree';
    font-size: 50px;
    color: #57453d;
    position: absolute;
}

#nav li {
    display: inline;
    margin: 2%;
}
#nav li a {
    text-decoration: none;
}
.background_color{
    background-color: #efede9;
}

/* About Us*/
.divGreen{
    background-color: #d2d8ce;
    height: auto;/* Let the height adapt to the content */
    width: 80%;
    margin: 10% 10% 2% 10%; /* Center horizontally */
    padding: 80px 80px 40px 140px; /* Add padding inside the div */
    box-sizing: border-box; /* Ensure padding is included in the height and width */
}

#image-container{
    display: flex;
    justify-content: space-between ;
    width: 80%;
    margin: 2% 10%;
}
#image-container img{
    width: 50%;
    object-fit: cover;
}
.sched-container{
    background-color: #d5babc;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}
.sched-container div{
    background-color:#7a7168 ;
    height: 40vh;
    width: 30%;
    margin: 8% 10% 0 10%;
    border-radius: 5%;
}

/*Gallery*/
#accent-div{
    background-color: #f5e1c6;
    height:12vh ;
    margin: 10% 10% 0 10%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    position: relative;
}
#accent-div h1{
    position: absolute;
    top: -25%;  /* Move the h1 50% from the top */
    left: 50%; /* Move the h1 50% from the left */
    transform: translate(-50%, -50%); /* Offset the h1 to perfectly center it */
    text-align: center;
}
#instagram-pic{
    background-color:#fc9a90;
    height: 40vh;
    margin: 1% 10% 0 10%;
}

/*reviews*/
#reviews-container{/* CSS for the main container in Reviews section*/
    background-color:#e0ddd3;
    height: auto;
    padding-top: 10%;
    font-family:"Canvas Sans" ;
}
.h2-reviews{
    top: 85%;
    left: 5%;
}
/*Contact us*/
#contact_h1 {
    text-align: center;
    position: unset;
}
#contact_main {
    background-color: #e0ddd3;
}
/*header of contact page */
#contact_h1_div {
   margin-left: auto;
   margin-right: auto;
    width: 70%;
    background-color: #efede9;
    border-radius: 15px;
}
/*div that holds the form */
#contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efede9;
    width: 70%;
    margin-top: 5%;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Style each form group to have label and input on the same line */
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    width: 100px; /* Adjust width as necessary to align labels */
    text-align: right;
    font-family: "DM Sans", 'Regular';
    font-weight: bold;
}

input[type="text"], textarea {
    width: 300px; /* Adjust the width of the input fields */
    padding: 10px;
    border-radius: 15px;
    border-style: none;
    background-color: #e0ddd3;
}
textarea {
    resize: none;
}

/* Style the submit button */
input[type="submit"] {
    font-family: "Canvas Sans", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
    border-style: none;
    align-self: center;
    background-color: #d2d8ce;
    width: 25%;
}
form {
    display: contents;
}
.contact_footer {
    margin-top: 4% !important;
    text-align: center;
    background-color: #e0ddd3;
    font-family: "Canvas Sans", sans-serif;
}
/*Review*/
.review-div{/* CSS for the div inside #reviews-container*/
    display: flex;
    margin: 0 10%;
    padding: 2%;

}
.review-div-icon{/* CSS for the div inside .review-div*/
    margin-top: 30px;
    flex: 1;
    padding-right: 20px;
    background-color:#e0ddd3;
}
.review-div-content{/* CSS for the div inside .review-div*/
    background-color: #f5e1c6;
    padding: 30px;
    border-radius: 40px;
    display: flex;
}
.review-div-content-text{
    flex: 5;
}
.review-div-content-account-name{
    padding-bottom: 10px;
}
.review-div-content-account-name h4{
    font-weight: bolder;
}

.review-div-content-pic {
    flex: 1;
    text-align: center;
}
.review-div-content-pic img{
    height: 100px;
    object-fit: cover;
}
.review-div-content-account-review{/* CSS for the div inside .review-div-content*/
    flex: 2;
    padding-top: 10px;
}
/*Services*/

#service_h1_div, #add_service_h1_div {
    display: contents; /*Makes sure that changes are seen does not work well without not sure why -___- */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #efede9;
    border-radius: 15px;
    
}
#service_h1, #add_service_h1 {
    text-align: center;
    position: unset;
}
#service_main, #add_service_main {
    grid-row: 1;
    grid-column: 1 / 4 ;
    background-color: #e0ddd3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#service-grid, #add-service-grid {
    background-color: #e0ddd3;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 1fr 2fr 2fr; 
    row-gap: 10px;
    height: 100vh; 
}

#add-service-grid {
    padding-top: 7%;
    padding-bottom: 7%;
}

#left-column, #right-column, #add-left-column, #add-right-column {
    grid-column: 1;
    grid-row: 2 / 4; /* Span the middle two rows */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    flex-direction: column;
    justify-content: space-between; /* Ensures hgroup goes to the bottom */
    padding: 10px;
    border-radius: 15px;
    gap: 10%;
}
/*Ensures that service is centered and price is at other end*/
#top_left_service, #top_right_service, #add_left_service, #add_right_service, #add_bottom_info  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efede9;
    padding: 10px;
    border-radius: 15px;
}

.service_left_description, .left_price, .service_right_description, .right_price {
    font-size: 28px;
    font-family: "Canvas Sans", sans-serif;
}
.service_right_description {
    margin-left: auto;
}
.left_price {
    margin-left: auto !important; /*Pushes to the left*/
}
.right_price {
    margin-right: auto;
}
/* Third row in main grid */
#bottom_left_service, #bottom_right_service, #add_bottom_left_service  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efede9;
    padding: 10px;
    border-radius: 15px;
    
}
.bottom_info {
    display: flex;
    flex-direction: column;
}

/*Font edit for third row in main grid*/
#bottom_left_service p, #bottom_left_service h3,#add_bottom_left_service p, #add_bottom_left_service h3, #bottom_right_service p, #bottom_right_service h3, #add_left_service p, #add_left_service h3, #add_right_service h3, #add_right_service p {
    font-size: 28px;
    font-family: "Canvas Sans", sans-serif;
}

#service_main, #add_serivce_main {
    grid-column: 2; /* Center content in the second column */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e0ddd3;
}

#service_h1_div, #add_service_h1_div {
    background-color: #efede9;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

#right-column, #add-right-column {
    grid-column: 3;
    grid-row: 2 / 4;
    border-radius: 15px;
}

footer {
    grid-row: 4;
    text-align: center;
    font-family: "Canvas Sans", sans-serif;
    background-color: #e0ddd3;
}
