@font-face {
    font-family: "Canvas Sans";
    src: url("../Fonts/CanvasSans.woff2");
}

@font-face {
    font-family: "DM Sans";
    src: url("../Fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") ;
}

@font-face {
    font-family: 'AmsterdamThree';
    src: url('../Fonts/amsterdam-3/Amsterdam.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alice';
    src: url('../Fonts/Alice-Regular.ttf') ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forum';
    src: url('../Fonts/Forum-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.canvaSans{
    font-family: "Canvas Sans", sans-serif;
}

h1{
    font-family: 'AmsterdamThree';
    font-size: 80px;
    width: 100%;
}
h2{
    font-family: 'AmsterdamThree';
    font-size: 50px;  
}
p{
    font-family: "Canvas Sans", sans-serif;
}
main {
    margin-top: 10vh; /*Offets navbar height so page starts right after navbar */
}
* {
    padding: 0%;
    margin: 0%;
}
/*nav*/
header {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.5); /*Add transparency to navbar */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 100%;
    height: 11vh;
    z-index: 3;
    
}
 #account_img {
    width: 15%;
} 


#nav-container {
 
    height: 100%;
    padding: 0 20px;
}


#nav-main {
    display: flex;
    align-items: center;
    background-color: rgb(192, 191, 191);
    border-radius: 10px; 
    padding: 0 50px

}


#nav-home {
  
}

#nav-main a {
    width: auto;
    text-decoration: none;
    text-align: center;
    font-family: "Canvas Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #1b613e;
    padding: 2% 20px; /* Add padding for clickable area */
    border-radius: 15px;
  
}
#nav-main a:hover {
    color: white;
}
#nav-extra a:hover {
    color: #1b613e;
}
#nav-extra {

    justify-content: flex-end; 
   
}



/* Special styling for the Book link */
.Nav-Split {
    background-color: darkgrey; /* Different background color for the Book link */
    color: white;
    float: inline-end;
    padding: 10px 25px;
    border-radius: 20px; 
    font-size: 18px; 
    margin-right: 10%; /* Add space between the link and the image */
    font-family: "Canvas Sans", sans-serif;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
  
    
}

/* Homepage */

#homeImage {
    background-image: url("../Images/homepage.jpg");
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: 'AmsterdamThree';
    font-size: 80px;
    color: #57453d;
    position: absolute;
    top: 20%;
    left: 5%;
}
h2{
    font-family: 'AmsterdamThree';
    font-size: 50px;
    color: #57453d;
    position: absolute;
}

#nav li {
    display: inline;
    margin: 2%;
}
#logo_img {
    width: 60px; /* Adjust this value based on your logo size */
    height: auto; /* Maintains aspect ratio */
    margin-right: 20px; /* Adds space between logo and navigation items */
}
#nav li a {
    text-decoration: none;
}
.background_color{
    background-color: #efede9;
}
.div-background{
    background-color: #008060;
}

/* About Us*/
.divGreen{
    background-color: #d2d8ce;
    height: auto;/* Let the height adapt to the content */
    width: 80%;
    margin: 15% 10% 2% 10%; /* Center horizontally */
    padding: 80px 80px 40px 140px; /* Add padding inside the div */
    box-sizing: border-box; /* Ensure padding is included in the height and width */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "DM Sans", sans-serif;
    position: relative;
}

.about-heading{
    position: relative; 
    margin-top: -14%; 
    margin-left:-20%;
    margin-bottom: 3%;
    color: #1b613e;
    font-size: calc(45px + 1.5vw);
}
.about-heading::before {
    content: ''; 
    position: absolute;
    top: 50%; /* Half of the height will be inside */
    left: 0;
    right: 0;
    height: 50%; /* Adjust this value if necessary */
    z-index: -1; /* Make sure the background is behind the text */
}

#image-container{
    display: flex;
    justify-content: center; /* Centers the images */
    align-items: center; /* Vertically centers the images */
    width: 80%;
    margin: 2% 10%;
}
#image-container img{
    width: 48%; /* Set both images to take up 48% of the container width */
    height: 500px; /* Ensure the height scales proportionally */
    object-fit: cover; /* Ensures the image covers its container without distortion */
    margin-right: 2%; /* Adds space between the images */
}
#image-container img:last-child {
    margin-right: 0; /* Removes the margin for the last image to avoid overflow */
}
#cat-warning-container{
    height: 45vh;
    display: grid;
    grid-template-columns: 10% 30% 10% 30% 20%;
    grid-template-rows: 20% 10% 30% 10% 30%;
    margin-bottom: 100px;
}
#item-1{
    background-color: #09351c;
    grid-row: 3/ 5;
    grid-column: 1 / 6;
    
}
#item-2{
    background-image: url('../Images/cat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-row: 2/ 6;
    grid-column: 2 / 4;
    border-radius: 20px;
}
#item-3{
    background-color: #f5e1c6;
    grid-row: 1/ 4;
    grid-column: 3 / 5;
    border-radius: 20px;
    padding: 4%;
}
#location-parking-container{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    background-color:#d2d8ce;
}
#location-item{
    grid-column: 1/2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
#parking-item{
    grid-column: 2/3;
    padding:5%;
}
.notice-title{
    font-family: "DM Sans", 'Regular';
    font-size: 40px;
}
.notice-p{
    font-family: "DM Sans", 'Regular' ;
    line-height: 2;
}
#parking-div {
    position: relative;
    width: 50%; /* Set width and height to create a square */
    height: 50%;
    overflow: hidden; /* Ensure the content stays inside the circle */
    margin: 0 auto; /* Center it horizontally if necessary */
}

#parking-div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/*Gallery*/
.accent-div{
    background-color: #f5e1c6;
    height:12vh ;
    margin: 18% 0 0 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
    position: relative;
}
.accent-div .accent-heading{
    position: absolute;
    top: -35%;  /* Move the h1 50% from the top */
    left: 50%; /* Move the h1 50% from the left */
    transform: translate(-50%, -50%); /* Offset the h1 to perfectly center it */
    text-align: center;
}
#instagram-pic {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
  }
  
#instagram-pic img {
    flex-basis: calc(33.33% - 10px); 
    height: 300px; 
    object-fit: cover;
  }

/*reviews*/
#reviews-container{/* CSS for the main container in Reviews section*/
    background-color:#e0ddd3;
    height: auto;
    padding-top: 10%;
    font-family:"Canvas Sans" ;
}
/*Review*/

/*Contact us*/
.custom-header {
    font-family: 'AmsterdamThree';
    font-size: 50px; /* Adjust if necessary */
    color: #57453d;
    position: relative; /* Change to relative for proper positioning */
    margin: 0; /* Remove default margins */
    text-align: center; /* Center the text */
}

/* Add a custom class to control the card position */
.card-container {
    margin-top: 100px !important; /* Adjust this value to position the card lower */
}
#contact_h1 {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    position: unset;
}
#contact_main {
    background-color: #e0ddd3;
}
/*header of contact page */
#contact_h1_div {
   margin-left: auto;
   margin-right: auto;
    width: 70%;
    background-color: #efede9;
    border-radius: 15px;
}
/*div that holds the form */
#contact_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #efede9;
    width: 70%;
    margin-top: 5%;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 3px  #1b613e;
}

/* Style each form group to have label and input on the same line */
.form-group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

label1 {
    font-size:clamp(0.923rem, 0.842rem + 0.282vw, 1.154rem);
    margin-right: 10px;
    width: 100px; /* Align labels */
    text-align: right;
    font-family: "DM Sans", 'Regular';
    font-weight: bold;
}

textarea {
    resize: none;
}

/* Style the submit button */
input[type="submit"] {
    font-family: "Canvas Sans", sans-serif;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    max-width: 30%;
    color: #ffffff;
    background: #008060;
    background-color: #d2d8ce;
    border-radius: 15px;
    font-weight: 500;
    font-size: clamp(1rem, 3vw, 1.3rem);
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}
#submit:active {
    vertical-align: top;
    padding: 8px 13px 6px;
    background-color: #b3b9b0;
}
form {
    display: contents; /*keeps submit in middle otherwise display: block would push it to the left */
}
.contact_footer {
    margin-top: 4% !important;
    text-align: center;
    background-color: #e0ddd3;
    font-family: "Canvas Sans", sans-serif;
}

/*Services*/
#services-body{
    background-color:#e0ddd3;
}

#services-heading{
    position: relative;
    left: -5%;
    padding-bottom:8% ;
}

.card {
    position: relative; /* Ensure cards have their own stacking context */
    z-index: 0; /* Cards will be behind the heading */
   
}
.services-card{
    background-color: #f4f2ed;
}
.scrollable-paragraph {

    overflow-y: auto;
}

#service_h1_div, #add_service_h1_div {
    display: contents; /*Makes sure that changes are seen does not work well without not sure why -___- */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #efede9;
    border-radius: 15px;
    
}
#service_h1, #add_service_h1 {
    text-align: center;
    position: unset;
}
#service_main, #add_service_main {
    grid-row: 1;
    grid-column: 1 / 4 ;
    background-color: #e0ddd3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#service-grid, #add-service-grid {
    background-color: #e0ddd3;
    display: grid;
    grid-template-columns: 1fr 20% 1fr; /*Sizing of columns */
    grid-template-rows: 1fr 0.5Fr 0.5fr; /*Sizing the rows*/
    row-gap: 10px;
    height: 75vh; 
}

#add-service-grid {
    padding-top: 7%;
    padding-bottom: 7%;
}

#left-column, #right-column, #add-left-column, #add-right-column {
    grid-column: 1;
    grid-row: 2 / 4; /* Span the middle two rows */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: space-between; /* Ensures hgroup goes to the bottom */
    padding: 10px;
    border-radius: 15px;
    gap: 10%;
}
/*Ensures that service is centered and price is at other end*/
#top_left_service, #top_right_service, #add_left_service, #add_right_service, #add_bottom_info  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efede9;
    padding: 10px;
    border-radius: 15px;
}

.service_left_description, .left_price, .service_right_description, .right_price,  #bottom_left_service h3,#add_bottom_left_service p, #add_bottom_left_service h3, #bottom_right_service h3, #add_left_service p, #add_left_service h3, #add_right_service h3, #add_right_service p {
    
    font-size: clamp(1rem, 10vw, 2rem);
    font-family: "Alice";
}

.service_right_description {
    margin-left: auto;
}
.left_price {
    margin-left: auto !important; /*Pushes to the left*/
}
.right_price {
    margin-right: auto;
}
/* Third row in main grid */
#bottom_left_service, #bottom_right_service, #add_bottom_left_service  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efede9;
    padding: 10px;
    border-radius: 15px;
    
}
.bottom_info {
    display: flex;
    flex-direction: column;
}

/*Font edit for third row in main grid*/

/*Font for sub details like 'per finger' */
.extra_service_detail {
    font-size: clamp(1rem, 5vw, 2rem);
    font-family: "Forum";
    color: gray;
}

#service_main, #add_serivce_main {
    grid-column: 2; /* Center content in the second column */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e0ddd3;
}

#service_h1_div, #add_service_h1_div {
    background-color: #efede9;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

#right-column, #add-right-column {
    grid-column: 3;
    grid-row: 2 / 4;
    border-radius: 15px;
}

footer {
    grid-row: 4;
    text-align: center;
    font-family: "Canvas Sans", sans-serif;
    background-color:rgb(255, 255, 255, 0.5);
    position: relative; /* Keep the footer static */
    z-index: 900;
}
footer p{
    margin: 0;
    padding: 10px;
}

#account-Main{
    height: 80vh;
}

/* Change the active link color */
a.nav-link.active {
    color: #fadadd !important; /* Change to your desired color */
    background-color: #1b613e !important; /* Optional: Change background color */
}

.sideScreen {
    width: -webkit-fill-available;
}

/**booking**/

.booking-border-style{
    border:  1px solid #e0e0e0; 
    border-radius: 5px;
}


.progress-bar {
    
    height: 100%;       /* Full height of the container */
   /* Color of the progress bar */
    transition: width 0.3s; /* Smooth transition for width changes */
}
.selected {
    border: 3px solid #333; /* Adjust color as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 3px; /* Adjust padding if needed */
    border-radius: 50%;
}

/**modal**/


